
body{
		
	background-color:pink;
	background:url('https://etimg.etb2bimg.com/thumb/msid-73034262,imgsize-312109,width-800,height-434,overlay-ettech/10-themes-that-defined-india-s-startup-and-tech-ecosystem-in-2019.jpg');
	background-position:left top;
	background-size:1500px 1000px;

}


h1{
	text-align:center;
	color:red;
}
p{
	text-indent:5em;
	color:white;
	text-align:center;
}
.second{
	white-space:pre;
	
}


.bottomnav-right{
	list-style-type:none;
    float:top;
	font-size:30;  
  
}

.bottomnav-right a{
  text-align:center;
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
   /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  padding: 10px;
  margin:60px;
  text-decoration: none;
  font-size: 20px;
  float:right;
}

.bottomnav-right a:hover {
	
  background-color: #ddd
  color: black; 
  
}

.next {
  background-color: #4CAF50;
  color: red;
}
 .round{
	 border-radius:100%;
 }

